[submodule "third_party/mavlink"]
	path = third_party/mavlink
	url = https://github.com/mavlink/mavlink.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
